<%= form_tag('/tweets', method: :post, multipart: true) do %>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="imagePreview"></div>
        <div class="input-group">
            <label class="input-group-btn">
                <span class="btn btn-success btn-sm">
                    Choose File<input type="file" style="display:none" class="uploadFile" name="image">
                </span>
            </label>
            <input type="text" class="form-control form-control-sm" readonly="">
        </div>
        <textarea class="form-control" name="text" placeholder="text"></textarea>
      </div>
    </div>
    <div class="row justify-content-center">
      <input type="submit" value="post" class="col-2 btn btn-success mt-4 btn-sm">
    </div>
  </div>

<% end %>










<script>
  $(document).on('change', ':file', function() {
      var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
      input.parent().parent().next(':text').val(label);

      var files = !!this.files ? this.files : [];
      if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support
      if (/^image/.test( files[0].type)){ // only image file
          var reader = new FileReader(); // instance of the FileReader
          reader.readAsDataURL(files[0]); // read the local file
          reader.onloadend = function(){ // set image data as background of div
              input.parent().parent().parent().prev('.imagePreview').css("background-image", "url("+this.result+")");
          }
      }
  });
</script>
